* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(pg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;


}
.menu{
    width: 400px;
    float: left;
    margin-right: 2px;
    height: 70px;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 22px;
}
ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;


}
ul li a:hover{
    color: #ff7200;
}
.search{
    height: 50px;
    width: 330px;
    float: left;
    margin-left: 250px;
    font-size: 30px;
    text-align: center;
    color: azure
    
}
.search{
     width: 400px;
     margin-top: 5px; 
     padding-left: 700px;  
     font-size: 30px; 
     text-align: center;
     color: black;
}
.srch {
    color: #ff7200;
    height: auto; 
    width: 280px;
    font-size: 25px;
    color: black;
}

.btn{
    width: 100px;
    height: 40px;
    color:blue;
    font-size: 20px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    
}
.content{
    width: 1200px;
    padding-right: 20px;
    font-size: 30px;
    height: auto;
    padding-right: 5px;
    color: aliceblue;
    position: relative;
    margin-right: 10px;
    padding-top: 100px;

}
.content  {
    color: white;
    font-size: 20px;
    padding-left: 100px;
    padding-bottom: 70px; 
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px; 
}

.join{
    height: 40px;
    width: 150px;
    border: 1px solid #ff7200;
    font-size: 25px;
    margin-top: 50px;
    color: hwb(218 0% 0%);
    
}
.peragraph{
    font-size: 30px;
    margin-right: 100px;
    font-size: 40px;
}
.dov {
    color: #ff7200;
    font-size: 60px;
    font-size: 50px;
    
    
}
.form{
    width: 250px;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    position:absolute;
    top:70px;
    left:870px;
    margin-right: 2px;
    border-radius: 10px;
    padding:25px
}
.form h1{
    width: 220px;
    font-family: sans-serif;
    color:#ff7200;font-size: 22px;
    background-color: wheat;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    text-align: center;


}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: antiquewhite;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;



}
.form input:focus{
    outline:none;
}
::placeholder{
    color: aqua;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background-color: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: 0.4s ease;
}
.btnn:hover{
    background-color: antiquewhite;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 .link{
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
padding-top: 20px;
text-align: center;
}
.link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top:15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: blanchedalmond;
}
.icon ion-icon{
    color: white;
    font-size: 20px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icon ion-icon:hover{
background-color: #ff7200;
}